h1 {
	text-align: center;
}

.text-center {
	text-align: center;
}

.image-landscape {
	margin: auto;
	max-width: 600px;
	max-height: 600px;
}

.image-portrait {
	margin: auto;
	height: 800px;
	max-width: 600px;
}


.text-carousel-1 {
	text-align: center;
	color: whitesmoke;
}

.text-carousel-2 {
	text-align: center;
}

.text-carousel-3 {
	text-align: center;
}

.container {
	max-width: 500px;
}

.image-wrapper {
	position: relative;
	padding-bottom: 56.2%;
}

.image-wrapper img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}